[2015-11-09 19:21] iancoffey opened #1 "Standard Prometheus alerts for v1"
We need to define:
- [ ] What alerts we need to create in the alert.rules for standard components.
- [ ] The syntax of how to implement them.
- [ ] Component down (router, publisher, etc..)
- [ ] Host memory consumption
- [ ] Increase in the 95 percentile of 5 minute load avg
- [ ] Low disk space (10% remaining, 5% remaining)
- [ ] Increase in the 95 percentile of response times for requests
- [ ]

[2015-11-09 21:51] jchauncey commented on #1
* [ ] Component down (router, publisher, etc..)
* [ ] Host memory consumption
* [ ] Increase of 15 minute load avg (and probably 1 and 5 minute)
* [ ] Low disk space (10% remaining, 5% remaining)
* [ ] Increase in the 95 percentile of response times for requests
* [ ] Above average errors rates from the router (# of 400s / # of requests)

[2015-11-10 15:19] iancoffey opened #2 "Add alert options for pagerduty and email"
We should add pagerduty and email as alert options, by expending the alertmanager template.

[2015-11-10 15:21] iancoffey opened #3 "Add installation documentation."
There is currently no docs describing how to manually install this. There should be some describing:
- cloning the repo
- setting the deis units path
- using deisctl to install and start them
- how to visit the UI.

We should also have docs on limiting access to the UI.

[2015-11-10 15:22] iancoffey opened #4 "Fix Fleet units"
The fleet units have many fixmes around image handling and discovery, and are generally in need of improvement.

[2015-11-10 15:23] iancoffey opened #5 "Push Image builds"
The units cant be used until the images are up somewhere for the public to use. We need to build them, tag them and get them up.

[2015-11-10 15:26] iancoffey opened #6 "Volume for persistent storage."
We need a persistent volume for Prometheus storage.

[2015-11-10 15:27] iancoffey opened #7 "Add Makefile for v1 directory."
The v1 directory should have a Makefile to assist in building, pushing and testing the monitor.

[2015-11-10 15:28] iancoffey opened #8 "Add functional tests"
There are no functional tests yet, but there likely should be.

[2015-11-10 15:46] jchauncey commented on #6
The crappy thing here is making sure its always scheduled on the same node. I'm not sure how that happens with k8s

[2015-11-10 15:53] iancoffey opened #9 "Determine v2 monitoring direction."
Prometheus monitoring in Deis v2 will be a different animal, and there are a few different directions.

There is prometheus stuff in k8s contrib/, we could improve that and combine it with additional metrics endpoints on the other Deis v2 components.

Or we could put together our own, purpose built RC and services and rules, which might be faster route to having a functional system, but runs the t

[2015-11-10 15:56] iancoffey commented on #6
Sorry I def need to add v1/v2 labels on all these. FWIW, all of these initial issues are around finishing the v1 stuff (except https://github.com/deis/monitor/issues/9). So in that case, we'll have to find how best to leverage either a ceph backed volume or an s3 bucket for stateless.

[2015-11-10 23:32] jchauncey opened #10 "Write a prometheus exporter for nginx"
We need the ability to export metrics from the routers to prometheus. I  have 2 ideas on how to do this.

1) Build a daemon that attaches to the stdout/stderr of the process and parses the stream for all the relevant data. This would be ran within the router container.

2) Build a daemon that attaches to the log stream of the router container and parses the stream. This would be its own container.

[2015-11-11 00:39] jchauncey commented on #10
If we wrote a self contained image that pull data from stdout/stderr then we could open source it. All it would need to do is take a regular expression for capture groups

[2015-11-11 01:33] iancoffey commented on #10
We should also explore imaking a proper nginx module for providing a vhost/upstream level metrics endpoint. If it is technically possible, that might be the cleanest way to go long term and I bet something the community could really make use of.

We might be able to crib some ideas from the approach they took here https://github.com/vozlt/nginx-module-vts

[2015-11-11 16:27] jchauncey commented on #10
so i like the thought of using that module in the router image. However, prometheus has deprecated the ability to scrape json based endpoints. So we would need something that translates it into the prometheus format...

[2015-11-11 17:24] jchauncey commented on #10
So @aledbf is awesome and has already added the `nginx-module-vts` to the router image. So I think having an http endpoint that uses the prometheus client to expose the metrics is our best way to go for this. I would just scrape the json endpoint and turn those into prometheus metrics using the golang lib.

[2015-11-11 17:42] jchauncey opened #11 "Settle on either PromDash or Grafana2 for dashboards"
[PromDash](https://github.com/prometheus/promdash) and [Grafana](http://grafana.org/) are built from the same framework and offer a lot of the same features but it would be nice to know where each fall short.

[2015-11-11 19:59] jchauncey opened #12 "Sanitize container name label"
Deis started applications have names like `foo_v1.web.1` or `foo_v2.web.2`. So we need to sanitize these names so we can more accurately graph their data. The data should be transformed to `foo.web`.

[2015-11-12 20:38] jchauncey opened #13 "Metric Dimensions"
It is important when running complicated platforms in a production environment to have the ability segment data on particular dimensions. Most of the time graphs are create in a generic manner and then edited to be more specific when the need arises.

For instance I might build a graph that shows the memory footprint of 1 type of container. I would segment this data based on container name (contai

[2015-11-13 00:49] iancoffey commented on #9
[Voila](https://docs.google.com/a/engineyard.com/drawings/d/1IX-quVmDEGkrOQ4W-oBWqzA4_q3XSSBuvqA5eY7JhRM/edit?usp=sharing)

[2015-11-13 00:49] #9 closed, assigned to nobody

[2015-11-13 00:50] #1 closed, assigned to nobody

[2015-11-13 00:50] #2 closed, assigned to nobody

[2015-11-13 00:50] #3 closed, assigned to nobody

[2015-11-13 00:50] #4 closed, assigned to nobody

[2015-11-13 00:50] #5 closed, assigned to nobody

[2015-11-13 00:50] #6 closed, assigned to nobody

[2015-11-13 00:50] #7 closed, assigned to nobody

[2015-11-13 00:50] #8 closed, assigned to nobody

[2015-11-13 14:54] jchauncey commented on #11
So I am not impressed with either solution for building comprehensive dashboards. While PromDash does type ahead for metrics names (which amkes it easy to discover metrics), the UX isnt all that great. On the other hand, Grafana has a great UX for other datasources but doesnt have good prometheus support yet (its not even an official datasource)

[2015-11-16 03:57] iancoffey opened #14 "Convert Prometheus boot script to Go"
The demo script is bash. We should convert it to Go and improve it to be resilient enough for real use.

[2015-11-16 03:58] iancoffey opened #15 "Convert Alertmanager boot script to Go"
Convert current boot script to Go. Improve resiliency and add tests.

[2015-11-16 03:59] iancoffey opened #16 "Enable Kubernetes discovery in config."
The configuration needs to support k8s prometheus discovery.

[2015-11-16 04:01] iancoffey opened #17 "System metrics on k8s"
The system will need to gather system metrics. This could be done by the current node-exporter stuff, or if theres a better supported way on k8s, we should use that.

[2015-11-16 04:03] iancoffey opened #18 "Functional tests."
This repo needs to be testable, in one way or another. We should check out the other component setups and borrow the good conventions they likely already have going.

[2015-11-16 04:04] iancoffey opened #19 "Add image deployment workflow"
This needs the image deployment workflow implemented via travis.

[2015-11-16 04:05] iancoffey opened #20 "Add root Makefile"
For Alpha, this project requires a minimal Makefile with tasks for building, pushing, testing, and all the other stuff our other v2 components can do.

[2015-11-16 04:11] iancoffey opened #21 "Component Instrumentation"
This is a placeholder issue, that should be replaced with issues in other repositories and closed.

We will need to properly instrument all applicable Deis components to be scrape-able by Prometheus. The scope of this, and how we can properly gather all relevant time series data, is the reason for this issue. Once this is determined, issues should be created and this issue close as done.

[2015-11-16 04:14] iancoffey opened #22 "Component Deployment"
This component will need to be deployable somehow, presumably via Helm.

We will need to provide charts, presumably under this namespace, for the component to be deployed.

[2015-11-16 04:16] iancoffey opened #23 "Alert rules"
We will need to be able to doc how to provide custom alert rules in a way that user friendly and extensible.

This component should optionally provide useful Deis alerts out of the box - but also provide instructions for rolling ones owns and adding them.

[2015-11-17 18:05] krancour opened #24 "Proposal: containerize the development environment"
This is to lower the barrier to entry for hacking on Deis while also standardizing the development environment for all contributors.

[2015-11-17 18:18] iancoffey commented on #24
Genesis: https://github.com/deis/deis/issues/4351#issuecomment-157456507

[2015-11-17 22:20] ghost commented on #24
Hi @krancour. What is the best way to proceed on a potential PR for this? Should I branch from the branch `v2` of the `deis` repository?

Got a little confused. So any pointer to docs, or conversations will be fully appreciated. I'm currently working on a way to containerize the dev env.

[2015-11-17 22:23] iancoffey commented on #24
@hermanjunge for the Monitor project specifically, it is probably too early to containerize this dev environment because the base functionality isnt all there quite yet.

We're cooking that up right now, later this week I will update this issue. Cheers!

[2015-11-17 22:33] ghost commented on #24
I see. Thanks for the heads up!

[2015-11-18 17:09] iancoffey opened #27 "Finalize naming for component services"
Right now, the naming of the prometheus and alertmanager services are deis-monitor-prometheus and deis-monitor-alert.

We need to sort out if we should stick with this or is there a better pattern we can finalize on - maybe one that matches the other components better.

[2015-11-18 18:38] iancoffey commented on #15
Closing, ref https://github.com/deis/monitor/pull/25

[2015-11-18 18:38] #15 closed, assigned to nobody

[2015-11-18 18:39] iancoffey commented on #14
Closing, ref https://github.com/deis/monitor/pull/25

[2015-11-18 18:39] #14 closed, assigned to nobody

[2015-11-19 15:03] iancoffey commented on #20
Closed by https://github.com/deis/monitor/pull/26

[2015-11-19 15:03] #20 closed, assigned to nobody

[2015-11-19 15:04] iancoffey commented on #16
This is implemented but not functioning quite yet, the prometheus pod cant reach the k8s api endpoint.

[2015-11-20 03:31] iancoffey opened #31 "Secure access to the UI"
Access to the Prometheus UI / API needs to be controlled somehow, since it is an externally exposed port.

[2015-11-20 14:49] iancoffey opened #32 "Pin Dockerfiles From"
The current prometheus Dockerfile is pinned to master. This should be changed to the proper beta quay image when its available.

[2015-11-20 14:57] iancoffey commented on #23
Initially this can be as simple as a manual workflow to include alternative rules that works without too much pain. The long term goal here might be to improve the alerting mechanism itself to play nicer within k8s setups - eg, less just baked in alert files, more friendly to programmatic config.

[2015-11-30 16:17] lanej commented on #31
https://github.com/prometheus/promdash/issues/341

[2015-12-21 16:01] iancoffey commented on #16
Implemented in https://github.com/deis/monitor/pull/37

[2015-12-21 16:01] #16 closed, assigned to nobody

[2015-12-21 16:02] iancoffey commented on #17
Implemented in https://github.com/deis/monitor/pull/37

[2015-12-21 16:02] #17 closed, assigned to nobody

[2015-12-28 22:09] #19 closed, assigned to nobody

[2016-01-07 15:04] iancoffey opened #40 "Add Dockerhub deployment"
Travis needs the right creds so this can push to Dockerhub as well. Its currently commented out in the deploy script.

[2016-01-15 17:34] #22 closed, assigned to nobody

[2016-01-31 04:57] MaxenceAdnot opened #42 "Problem with DaemonSet on AWS"
Hi,

I got an error when I try to deploy the monitor components to my Kubernetes cluster on AWS :

[code]

This is due to : https://github.com/deis/monitor/blob/master/manifests/deis-monitor-exporter-rc.yaml#L1-L2 but I don't know how this could be fixed.

[2016-01-31 05:09] bacongobbler commented on #42
You need to enable the v1beta1 extension to use this chart. I think DaemonSets will be eventually in the stable API for k8s v1.2 but this is the current process for using this chart as well as deis-logger.

https://github.com/kubernetes/kubernetes/blob/master/docs/api.md#enabling-resources-in-the-extensions-group

[2016-01-31 05:23] MaxenceAdnot commented on #42
I tried to add `--runtime-config=extensions/v1beta1/daemonsets=true` under the apiserver section in `/etc/kubernetes/manifests/master.manifest` and `/etc/kubernetes/manifests-multi/master.manifest` of the controller-manager and I stopped the controller-manager and apiserver to force them to restart ... without success.

Did I miss anything ? I'm very new to Kubernetes and I'm not sure how to enabl

[2016-01-31 16:00] jchauncey commented on #42
So I'm not sure how kubernetes starts on aws. Is this on a coreos host? Could you post the contents or at least the api section of that manifest?

[2016-01-31 16:41] MaxenceAdnot commented on #42
I just used the kube-aws tool to launch a Cloudformation stack with Kubernetes on CoreOS: https://coreos.com/kubernetes/docs/latest/kubernetes-on-aws.html

Here is the untouched manifest I got :

[code]

and I changed it on the controller manager container to :

[code]

I stopped / started the controller-manager and the apiserver here's the logs I got from the controller-manager:

[code]

I guess

[2016-01-31 16:44] jchauncey commented on #42
What does `kubectl api-versions` say?

[2016-01-31 16:46] MaxenceAdnot commented on #42
My client version is v1.1.4 and the server is v1.1.2

[2016-01-31 16:46] jchauncey commented on #42
BTW I'm not sure what state this repo is in and it is current being completely rewritten. So if you don't get it to work it will be a week or 2 and I'll have the new version done.

[2016-01-31 16:47] jchauncey commented on #42
Api versions will tell you what APIs you have enabled like daemon sets

[2016-01-31 16:52] MaxenceAdnot commented on #42
Here's the output of `kubectl api-versions` :
extensions/v1beta1
v1

[2016-01-31 17:09] MaxenceAdnot commented on #42
I'll probably have to wait for the new version

[2016-02-08 17:32] jchauncey commented on #42
Going to close this issue for now. I'll ping you when I have the next version ready.

[2016-02-08 17:32] #42 closed, assigned to nobody

[2016-02-08 17:33] #10 closed, assigned to nobody

[2016-02-08 17:33] #11 closed, assigned to nobody

[2016-02-08 17:33] #12 closed, assigned to nobody

[2016-02-08 17:33] #24 closed, assigned to nobody

[2016-02-08 17:33] #27 closed, assigned to nobody

[2016-02-08 20:08] #31 closed, assigned to nobody

[2016-02-08 20:09] #32 closed, assigned to nobody

[2016-02-08 20:09] #13 closed, assigned to nobody

[2016-02-08 20:13] jchauncey opened #44 "Add Kapacitor support"
Kapacitor is the alerting part of the TICK stack. We need to containerize this environment and provide for some mechanism on how to get alerting rules into kapacitor.

[2016-02-08 20:14] jchauncey opened #45 "Add Chronograf support"
Create a containerized environment for Chronograf and sample dashboards for the deis environment.

[2016-02-08 20:14] #18 closed, assigned to nobody

[2016-02-08 20:14] #21 closed, assigned to nobody

[2016-02-08 20:14] #40 closed, assigned to nobody

[2016-02-08 20:17] jchauncey opened #46 "Create mechanism for building and releasing monitor components"
Right now there is no automated way to build and release the images used in the monitoring stack.

[2016-02-10 17:33] jchauncey commented on #45
dropping chronograf support for now in favor of grafana

[2016-02-10 17:33] #45 closed, assigned to jchauncey

[2016-02-10 17:37] jchauncey opened #47 "Add Grafana 2 support"
Grafana 2 is a superior graphing solution to what is currently on the market. We should use it instead of Chronograf.
- [x] - Create image that is suitable for a kubernetes environment
- [x] - Setup proxy2service so the front end is visible on local environments
- [x] - Templatize the grafana.ini file using envtpl
- [x] - Build beta image

[2016-02-10 17:38] jchauncey opened #48 "Document the template values for telegraf"
We can drive the configuration of telegraf via environment variables. Document these!

[2016-02-10 17:39] jchauncey opened #49 "docs: env vars for grafana 2"
We use environment variables to drive the configuration of the grafana 2 image. We should document these!

[2016-02-11 22:33] jchauncey opened #50 "Telegraf needs to capture the following values"
- [x] - Pod Namespace
- [x] - Pod Name

[2016-02-11 22:35] #47 closed, assigned to jchauncey

[2016-02-12 18:43] jchauncey commented on #50
these changes are now in https://github.com/deis/telegraf

[2016-02-12 18:43] #50 closed, assigned to jchauncey

[2016-02-12 18:44] jchauncey opened #51 "Telegraf needs to wait for influxdb to start"
If telegraf comes up first it doesn't gracefully handle the fact that influxdb isn't there. The start telegraf script should wait for the influxdb service to return a good api call and then proceed with starting.

[2016-02-12 18:44] jchauncey opened #52 "Add liveliness and readiness checks for influx"
We need to add appropriate health checks for the influxdb RC.

[2016-02-12 18:50] jchauncey opened #53 "Add liveliness and readiness checks for grafana"
The grafana RC should have liveliness and readiness checks.

[2016-02-12 18:50] jchauncey commented on #46
So for now I am cutting v2-beta images by hand (just like logger) with _scripts/release.sh

[2016-02-12 18:50] #46 closed, assigned to jchauncey

[2016-02-12 18:52] #23 closed, assigned to nobody

[2016-02-12 18:54] jchauncey opened #54 "Create base graphs"
Create a base set of graphs to prove that data is flowing correctly into Influx.

[2016-02-12 21:54] jchauncey opened #55 "Telegraf should report NodeName for the host tag for all metrics"
When running telegraf in a pod the host level metrics that are collected report the container hostname instead of the NodeName. We should get this fixed.

[2016-02-15 22:03] pauldix commented on #51
You could also just UDP if you don't care about losing the metrics

[2016-02-16 17:35] arschles opened #56 "Run docker build on all PR builds"
Similar to what builder does in its [.travis.yml file](https://github.com/deis/builder/blob/master/.travis.yml#L16), slugbuilder should run `make ... docker-build` on each component in this repo to ensure that the Dockerfiles are correct

[2016-02-16 17:36] arschles commented on #56
This issue may not apply since I don't see any .travis.yml files in here. If not, please feel free to close

[2016-02-16 22:57] jchauncey opened #57 "Dashboard: Router"
Cluster wide metrics
- [ ] - Active Connections
- [ ] - Reading Connections
- [ ] - Writing Connections
- [ ] - Waiting Connections
- [x] - Total Request Count
- [ ] - Accepted Requests
- [ ] - Handled Requests
- [x] - Requests per second
- [x] - Number of 1xx responses
- [x] - Number of 2xx responses
- [x] - Number of 3xx responses
- [x] - Number of 4xx responses
- [x] - Number of 5xx responses
-

[2016-02-16 22:57] jchauncey opened #58 "Dashboard: Controller"
TBD

[2016-02-16 22:58] jchauncey opened #59 "Dashboard: Node Health"
Cluster level performance metrics:
1. API Health
   1. Requests per second
   2. Status codes
2. Number of running containers
3. Number of running pods
4. Node Health
   1. Disk usage
   2. Memory Usage

[2016-02-17 16:00] jchauncey commented on #54
Closing this issue in favor of building more specific dashboards and graphs.

[2016-02-17 16:00] #54 closed, assigned to jchauncey

[2016-02-17 16:02] jchauncey opened #60 "Build Telegraf plugin to fetch nginx metrics via VTS module"
[code]

[2016-02-22 21:09] jchauncey commented on #55
This has been fixed here - https://github.com/deis/telegraf/commit/bf14092d0e387ee1e9a45b34ef9e88160398652b

[2016-02-22 21:09] #55 closed, assigned to jchauncey

[2016-02-26 19:20] jchauncey opened #61 "Metrics: Kubelet"
https://github.com/kubernetes/kubernetes/blob/65b5d0cbf4f3fe2f2293b24b88ac1967ee9ecb1d/pkg/metrics/kubelet_metrics.go

We should collect the following metrics from kubelet:
- cadvisor_version_info
- container_cpu_system_seconds_total
- container_cpu_usage_seconds_total
- container_cpu_user_seconds_total
- container_fs_io_current
- container_fs_io_time_seconds_total
- container_fs_io_time_weighted_

[2016-02-26 19:21] jchauncey opened #62 "Metrics: Kube API Server"
https://github.com/kubernetes/kubernetes/blob/f91101e0926acf70864dc83de4a1c680b4bf26cb/pkg/metrics/api_server_metrics.go

We should collect the following metrics from the kube api server:
- apiserver_request_count
- apiserver_request_latencies_bucket
- apiserver_request_latencies_count
- apiserver_request_latencies_sum
- apiserver_request_latencies_summary
- apiserver_request_latencies_summary_cou

[2016-02-26 19:33] jchauncey commented on #60
So at first I thought using VTS to fetch these metrics was a good idea. But after a talk with @aledbf he mentioned that he has seen it crap out on a large number of pods/containers. I have this work 95% complete so I will stick with it for now. But we will still need to parse the incoming nginx log streams to fetch other information about what is happening.

[2016-02-29 17:22] jchauncey opened #63 "Metrics: Kube Controller Manager"
https://github.com/kubernetes/kubernetes/blob/f91101e0926acf70864dc83de4a1c680b4bf26cb/pkg/metrics/controller_manager_metrics.go

We should collect metrics exposed by the controller manager:
- etcd_helper_cache_entry_count
- etcd_helper_cache_hit_count
- etcd_helper_cache_miss_count
- etcd_request_cache_add_latencies_summary
- etcd_request_cache_add_latencies_summary_count
- etcd_request_cache_add

[2016-02-29 17:23] jchauncey opened #64 "Metrics: Generic Metrics"
https://github.com/kubernetes/kubernetes/blob/6bac4fdc3713d7dd88777f0eaa9d0268f2771731/pkg/metrics/generic_metrics.go

Collect the following Generic kubernetes api metrics:
- get_token_count
- get_token_fail_count
- go_gc_duration_seconds
- go_gc_duration_seconds_count
- go_gc_duration_seconds_sum
- go_goroutines
- http_request_duration_microseconds
- http_request_duration_microseconds_count
- htt

[2016-02-29 17:25] jchauncey opened #65 "Metrics: Kube Scheduler"
https://github.com/kubernetes/kubernetes/blob/65b5d0cbf4f3fe2f2293b24b88ac1967ee9ecb1d/pkg/metrics/scheduler_metrics.go

We should capture the following metrics from the kube scheduler:
- rest_client_request_latency_microseconds
- rest_client_request_latency_microseconds_count
- rest_client_request_latency_microseconds_sum
- rest_client_request_status_codes
- scheduler_binding_latency_microseconds

[2016-03-01 22:55] jchauncey commented on #61
On your local machine you can do

[code]

If you have the `kubectl proxy` going to get hit the metrics endpoint

[2016-03-02 18:02] jchauncey commented on #61
If you are on the controller node you can run the following to get the kubelet metrics

[code]

[2016-03-02 19:26] jchauncey commented on #62
You can access the prometheus endpoint for the api server metrics by doing the following:

[code]

Where `$TOKEN` is the service account token located at `/var/run/secrets/kubernetes.io/serviceaccount/token`

[2016-03-02 19:28] jchauncey commented on #61
So from within a pod you can access the metrics for a given host by doing the following:

[code]

Where `$TOKEN` is the value from `/var/run/secrets/kubernetes.io/serviceaccount/token`

[2016-03-02 19:37] jchauncey commented on #64
You gather these metrics via the api server endpoint

[code]

Where `$TOKEN` is the service account token located at `/var/run/secrets/kubernetes.io/serviceaccount/token`

[2016-03-02 20:31] jchauncey commented on #65
For now collecting these metrics are not possible. See https://github.com/kubernetes/kubernetes/issues/22382

[2016-03-02 20:31] jchauncey commented on #63
For now collecting these metrics are not possible. See https://github.com/kubernetes/kubernetes/issues/22382

[2016-03-04 03:55] #61 closed, assigned to jchauncey

[2016-03-04 03:55] #62 closed, assigned to jchauncey

[2016-03-04 03:55] #64 closed, assigned to jchauncey

[2016-03-04 17:57] jchauncey commented on #53
Right now there is not a good way health check grafana.

[2016-03-07 15:37] jchauncey opened #69 "Templatize influx config"
So I am having to change the configuration for influx now that I am using it more. It should really be in an go template like grafana and telegraf.

[2016-03-07 15:49] jchauncey opened #70 "Handle influx wal logs"
We should write the wal logs for influx into cluster storage. Right now I dont think influx handles s3 backends but it would be nice if it did so we could mimic what postgres does.

[2016-03-08 02:24] #52 closed, assigned to jchauncey

[2016-03-08 04:09] #49 closed, assigned to jchauncey

[2016-03-08 04:09] jchauncey commented on #48
this is fixed in #72

[2016-03-08 04:09] #53 closed, assigned to jchauncey

[2016-03-08 15:10] #69 closed, assigned to jchauncey

[2016-03-08 16:39] #48 closed, assigned to jchauncey

[2016-03-08 17:36] jchauncey commented on #60
Closing this issue for now

[2016-03-08 17:36] #60 closed, assigned to jchauncey

[2016-04-01 13:34] sstarcher opened #78 "Telegraf Tag support for cloud providers"
Would their be any interest in adding cloud specific tags to the telegraf data?  I currently add AWS instance_id to the global_tags field of telegraf.

[2016-04-01 13:37] jchauncey commented on #78
yeah I wasnt sure how I wanted to accomplish this with pulling the data into the toml file. If you have any suggestions Id be welcome to take a look

[2016-04-01 13:54] sstarcher commented on #78
How about relying on the pod definition to pass in the data and using helm to generate the template.

So pass in an environment variable to telegraf -e GLOBAL_TAGS='KEY:VALUE,KEY:VALUE"

[2016-05-05 19:55] #59 closed, assigned to jchauncey

[2016-05-11 16:45] jchauncey commented on #78
closed via #79

[2016-05-11 16:45] #78 closed, assigned to nobody

[2016-05-11 17:09] jchauncey opened #90 "Update images to fix security scan issues"

[2016-05-12 17:25] #63 closed, assigned to nobody

[2016-05-12 17:25] #65 closed, assigned to nobody

[2016-05-12 17:26] jchauncey opened #92 "Implement permanent storage for Grafana"
The grafana pod should be able to restore data from a persistent storage option.

[2016-05-12 17:27] jchauncey opened #93 "Implement permanent storage for Influx"
The influx pod should be able to restore data from a persistent storage option.

[2016-05-24 01:48] vdice commented on #90
ping @jchauncey on if this issue is still planned to be resolved in `v2.0-rc1`

[2016-05-24 18:09] #90 closed, assigned to jchauncey

[2016-05-26 19:02] krancour opened #98 "Mislabeled trend line"
The response times (aggregate) graph on the router dashboard has the mean response time mislabeled as max. This should probably be fixed before GA.

[2016-05-26 21:56] krancour opened #100 "Router dashboard doesn't show any data on kube-aws"
I tried this twice. With a fresh install for the workflow-rc1 or workflow-dev charts on a cluster in AWS, created via kube-aws (0.5.1), I don't get any data in the graphs on the router dashboard.

[2016-05-30 17:53] sstarcher commented on #93
For this and #92 do you an idea of the prefered implementation?  I'm considering doing this for my AWS setup, but would be interested in making it generic.  It would be nice if Helm had built in support for storage.

[2016-05-30 17:57] #98 closed, assigned to jchauncey

[2016-05-30 18:02] jchauncey commented on #93
So right now I dont think influx supports directly writing to an s3 compatible api (at least I haven't seen it in the docs). That would be the best solution because then I can provide a solution like we do for `deis/database` which is more agnostic to the storage backend.

[2016-05-30 18:03] sstarcher commented on #93
@jchauncey got ya.  My interest is certainly more in specific Kubernetes support for AWS and GCE via volume attachment.

[2016-05-30 18:05] jchauncey commented on #93
I think if we had a solution that worked for aws and gce that would be a great start

[2016-06-06 20:02] jchauncey opened #102 "Update telegraf to 1.0 release ASAP"
The telegraf 1.0 release isnt out yet but it has an important fix we need -

https://github.com/influxdata/telegraf/issues/1268

[2016-06-07 18:20] arschles commented on #70
@jchauncey can you expand on the description here? Do you want to stream the wal to S3?

[2016-06-07 23:19] jchauncey opened #104 "Proposal: A scalable asynchronous Analytics platform"
## Current Architecture

[code]
## Problem 1: Point to point connections

Right now we have point to point connections from `N` number of fluentd daemons to `logger` and `stdout-metrics`. For every value that is received by fluentd we immediately send that value to both of those components (even if it is not for that component).
## Problem 2: Communication happens synchronously

Data is written ov

[2016-06-07 23:23] arschles commented on #104
Until you get the NSQ plugin into Telegraf, why not put the InfluxDB publishing code into the logger?

[2016-06-07 23:25] jchauncey commented on #104
Separation of concerns mainly. Didn't want to worry about adding the influx
code into logger.
On Jun 7, 2016 5:23 PM, "Aaron Schlesinger" notifications@github.com
wrote:

[2016-06-07 23:28] krancour commented on #104
Good point, but it _can_ be done relatively cleanly if the `Drain` interface that used to be in there were resurrected.

Also, another thing to consider... I'm not too familiar with NSQ, but can it implement topics as well?  If you would have _both_ the logger _and_ the "metrics consumer" pulling messages from there, you need a a topic; not a queue.

[2016-06-07 23:33] jchauncey commented on #104
Yeah it has topics. I'll update the proposal to show that.
On Jun 7, 2016 5:28 PM, "Kent Rancourt" notifications@github.com wrote:

[2016-06-08 15:39] jchauncey commented on #104
Updated with repos that have the code for implementing this.

[2016-06-08 15:55] jchauncey opened #105 "Feature: Allow telegraf to poll nsq for stats"
Using this input plugin - https://github.com/influxdata/telegraf/blob/master/plugins/inputs/nsq/nsq.go

[2016-06-08 16:47] arschles commented on #104
@jchauncey if it makes things simpler, you might consider running a container alongside fluentd (in the daemonset) that fluentd can send, via syslog, on the loopback interface. This way, you don't have to change any fluentd plugins and you can control all the enqueue and dequeue code yourself. I don't believe the extra container or its functionality is technically necessary, just that it could add

[2016-06-08 16:52] jchauncey commented on #104
Well the plugin is great because we really only care about a very small portion of the overall data that fluentd is collecting. So the `deis-output` plugin allows us to filter out only the data we care about and also provides a nice interface for sending data to both nsq topics. In either case I will need that fork and it just made more sense to have it in fluentd rather than another app that we h

[2016-06-09 02:35] sstarcher opened #107 "Values image values in manifests"
The image values in the mainifests are very old should these possibly be changed to reflect quay.io/deisci/ITEM:canary

I did not notice at first and grabbed the manifest and used a 3 month old version of telegraf.

https://github.com/deis/monitor/blob/master/telegraf/manifests/deis-monitor-telegraf-daemon.yaml#L17

[2016-06-09 02:53] sstarcher commented on #102
I'm running the beta of 1.0 telegraf atm against influxdb 0.13

[2016-06-09 02:55] jchauncey commented on #107
Yeah they are mostly used for development. The monitor chart should be more
up to date. Github.com/deis/charts
On Jun 8, 2016 8:35 PM, "Shane Starcher" notifications@github.com wrote:

[2016-06-09 20:54] jchauncey commented on #104
So I have a working telegraf plugin for fetching data directly from nsq. That means we could eliminate `metrics-consumer` from the diagram

[2016-06-09 20:56] jchauncey commented on #104
Oh someone asked why the dip in the graph. THat was me restarting my test with a change that @gerred helped me with.

[2016-06-13 15:00] chicagozer opened #108 "divide by zero using influx CLI on pod"
In my attempts to set a retention policy for the influxdb, I kept getting a divide by zero error using the CLI on the pod. I traced it down to not having a column width set.

`stty cols 80`

fixes the issue.

[2016-06-17 16:44] mattk42 opened #111 "Telegraf seems to have a memory leak"
In my cluster running the 2.0 official release I have noticed that telegraf works its way up to 2GB of memory usage before it seemingly gets cleaned up and starts over.

![Memory Leak](https://www.dropbox.com/s/0b6od4y16o0z4r9/Screenshot%202016-06-17%2010.18.48.png?dl=1)

[2016-06-17 16:50] jchauncey commented on #111
Are you noticing the pod restarting a lot? There was an issue in the 0.13.x version of telegraf that caused the binary to panic when sending data to influx - https://github.com/influxdata/telegraf/issues/1268

Check the pod logs and see if you see a similar erorr message.

[2016-06-17 17:01] mattk42 commented on #111
Unfortunately I actually killed off the DS, I have my own monitoring stuff in place so I shut down most of the deis-monitor components this morning.

I don't believe that the container is getting restarted though, if that was the case the container ids in the chart above would have changed.

[2016-06-21 23:14] jchauncey commented on #102
So this should happen with the 2.1 release. However, it will not be their official beta release. We have built a 1 off binary that includes a plugin we have submitted to them that we are going to rely on for the 2.1 release.

[2016-06-21 23:14] #102 closed, assigned to jchauncey

[2016-06-22 19:27] titilambert commented on #111
Hello, I think I got the same issue.
I suspect prometheus plugin. It seems it doesn't closing connection :/
Run on you apiservers: `netstat -ntp | grep 8080 | wc -l`

[2016-06-22 19:46] jchauncey commented on #111
So we have seen this happen (especially on larger clusters) so we disabled the prometheus plugin by default in the image (although the chart turns it on). This means you will lose out on k8s metrics and container metrics. I will open an issue with telegraf and see if we can get it fixed.

[2016-06-22 20:03] jchauncey commented on #111
See here - https://github.com/influxdata/telegraf/issues/1405

[2016-06-22 20:25] titilambert commented on #111
PR  influxdata/telegraf#1406 created

[2016-06-24 17:49] jchauncey commented on #104
We are moving forward with this propsal so I am closing it.

[2016-06-24 17:49] #104 closed, assigned to jchauncey

[2016-06-24 19:54] jchauncey commented on #111
So I have rebuilt the image to include latest master changes. It seems to have fixed the memory leak problem but Im not 100% on that. If you want to redeploy telegraf and check it out that would be awesome.

[2016-06-27 16:28] titilambert commented on #111
@jchauncey testing today or tomorrow. I let you know when I get results ;)

[2016-06-28 12:58] titilambert commented on #111
The issue is fix for me !

[2016-06-28 13:12] #111 closed, assigned to nobody

[2016-07-01 17:06] jolly2 opened #118 "deis-monitor-telgraf is opening up too many connections on kube-apiserver"
Have 3 node cluster
Ubuntu/Kubernetes/Deis-Workflow-v2.0.0
Each node has good compute resources..

Withing 10-15 mins of fresh installation of deis workflow, k8s dashboard and k8s apis hang up.
After investing, found out that deis-monitor-telegraf (3 pods) were opening up a lot of connections to kube-api server to collect metrics but not closing them.
Continuous, lsof -P -p <kube-api-pid> showed o

[2016-07-01 17:34] jchauncey commented on #118
This was an issue with an older version of telegraf and should be fixed when 2.1 ships.

[2016-07-13 14:24] jchauncey commented on #118
closing as this was fixed in 2.1

[2016-07-13 14:24] #118 closed, assigned to nobody

[2016-07-13 14:26] jchauncey commented on #108
Closing this as I am not sure if this is a problem with how we configure the pod to start but how kubectl exec works.

[2016-07-13 14:26] #108 closed, assigned to nobody

[2016-07-13 14:26] jchauncey commented on #105
This has been released with 2.1

[2016-07-13 14:26] #105 closed, assigned to nobody

[2016-07-13 14:27] jchauncey commented on #100
I think this was an issue with the old architecture. @krancour is this still a problem?

[2016-07-13 15:08] jchauncey commented on #51
closing this as it was fixed in telegraf itself

[2016-07-13 15:08] #51 closed, assigned to jchauncey

[2016-07-13 15:08] #56 closed, assigned to nobody

[2016-07-13 18:23] jchauncey opened #120 "Create a mechanism for determining leader election within the telegraf pod"
If we can determine a leader within the telegraf pod it will allow us to only poll the api server from 1 pod which cuts down on traffic and memory stress for the api server.

Thoughts are to use something like this - http://blog.kubernetes.io/2016/01/simple-leader-election-with-Kubernetes.html

[2016-07-14 18:38] arschles commented on #120
Would it be reasonable to run a single telegraf pod specifically configured to poll and API server? My rationale behind this alternative strategy is that setting up and maintaining leader election to poll the API server adds a lot of complexity for a single feature, and it would be a win if we can get away with not doing it for now.

[2016-07-14 18:39] jchauncey commented on #120
Potentially but taht means we have a completely different telegraf manifest for polling the api server

[2016-07-14 21:40] arschles commented on #120
IMO that'll still be a lot less overall complexity. That'd mean there was a RC for just the kube API telegraf (`deis-monitor-telegraf-kube-api`) and then the already existing daemonset

[2016-07-15 01:15] krancour commented on #100
I forgot this was still open. I'm still using kube-aws and all is well with the dashboards. Closing.

[2016-07-15 01:15] #100 closed, assigned to nobody

[2016-07-15 20:18] jchauncey commented on #120
Ok after some spiking this ended up not being worth it (using k8s leader election). Basically the problem we had was that we could determine a leader but if that leader ever went away we were not polling to find a new leader.

Going to keep investigating a better way to handle this

[2016-07-15 20:19] jchauncey commented on #57
As it stands this is probably as complete as its getting

Fixed in #122

[2016-07-15 20:19] #57 closed, assigned to jchauncey

[2016-07-18 16:40] #107 closed, assigned to jchauncey

[2016-08-09 16:25] olalonde opened #129 "Failed to update dashboard json index"
I've been seeing the following in my logs, about once a minute:

[code]

[code]

Not sure if it's something I should worry about.

[2016-08-09 17:38] jchauncey commented on #129
I know what the issue is but I'm flying today. I'll get a fix in first thing tomorrow

[2016-08-15 16:25] jchauncey commented on #129
@olalonde did you get this from an image built from source?

[2016-08-15 18:21] #129 closed, assigned to jchauncey

[2016-08-24 17:33] jchauncey opened #134 "Determine how CPU metrics are reported"
https://trello.com/c/6lYjhOK4/97-decipher-difference-between-seconds-and-on-the-cpu-metrics

[2016-08-29 17:05] helgi opened #136 "round dashboard values when sensible"
see https://github.com/deis/monitor/pull/135#issuecomment-242536971

[2016-08-30 19:50] felipejfc commented on #92
+1

My grafana pod sometimes restarts and then I lose all the dashboards on it :/

[2016-08-30 19:52] jchauncey commented on #92
For a work around you can always export the json after you have made your changes. It is also possible to take that json and add it [here](https://github.com/deis/monitor/tree/master/grafana/rootfs/usr/share/grafana/api/dashboards) and rebuild the image and deploy it so your dashboards show up when the container starts.

[2016-09-01 21:43] jchauncey opened #137 "Grafana: Check out the kubernetes plugins"
https://grafana.net/dashboards/162

https://grafana.net/dashboards/315

[2016-09-07 16:03] jchauncey opened #138 "Spike: Integrate Kapacitor"
After a conversation with the @influxdata team yesterday it is apparent that we should revisit integrating kapacitor into workflow. They stated that it is completely configurable with environment variables now (without the use of a config file) and it also exposes an API for driving the alert configuration.

The influxdata team is also interested in helping us write some simple TICK scripts agains

[2016-09-08 16:19] jchauncey opened #139 "Decipher CPU usage metrics"
see https://trello.com/c/6lYjhOK4/97-decipher-difference-between-seconds-and-on-the-cpu-metrics

Currently we receive CPU metrics as `usage in seconds` which is not what kubernetes expects when applying CPU limits on a pod. This issue aims to determine the following things
- [x] Can usage in seconds be easily converted to the milli-core designation?
- [x] What exactly does usage in seconds represe

[2016-09-08 16:19] jchauncey commented on #139
Interesting discussion on CPU metrics here - https://github.com/kubernetes/kubernetes/issues/24925

[2016-09-08 20:43] Joshua-Anderson commented on #58
This has been done!

[2016-09-08 21:37] jchauncey commented on #58
We didnt really do this

[2016-09-08 21:46] Joshua-Anderson commented on #58
Ah, are you looking to collect more than just CPU and memory usage for the controller?

[2016-09-08 21:49] jchauncey commented on #58
Yes I want things like build times number of apps etc

On Sep 8, 2016 5:46 PM, "Joshua Anderson" notifications@github.com wrote:

[2016-09-09 16:37] jchauncey commented on #139
The metrics we currently collect are decorated docker metrics. If we want to collect metrics that are more meaningful to kubernetes we need to get them from heapster.

https://github.com/kubernetes/heapster/blob/f212f087673b3df8b73c5180eeb08ab62e6f69e0/metrics/api/v1/model_handlers.go

[2016-09-10 15:11] jchauncey commented on #139
`curl heapsterip/api/v1/model/namespaces/deis/pods/deis-logger-fluentd-bp2pz/metrics/cpu/usage_rate`

[2016-09-13 17:52] jchauncey commented on #139
So the metrics we collect on CPU usage come from cadvisor and cannot be easily translated into millicores/nanocores which is what we would like to have. Instead, we should ask for the data directly from kubelet using the following url:
- `curl 10.240.0.6:10255/stats/summary`

The IP here is that of the node and 10255 is the kubelet port.

The information from that endpoint looks like this:

[code]

[2016-09-13 20:35] jchauncey commented on #134
see #139

[2016-09-13 20:35] #134 closed, assigned to jchauncey

[2016-09-15 20:57] jchauncey commented on #139
So I just had a conversation with @helgi and @mboersma about this particular issue. We have decided that it is probably best if we go with option 1. This gives us the benefit of having a simpler pod architecture while also giving the telegraf community a useful plugin. I will open an issue in the telegraf repo to track part of this work and to open a line of communication with that team.

[2016-09-15 20:57] #139 closed, assigned to jchauncey

[2016-09-16 14:52] jchauncey commented on #120
When we implement the solution in #139 this will not be an issue

[2016-09-16 14:52] #120 closed, assigned to nobody

[2016-09-20 17:05] sstarcher opened #141 "ETCD default URL is invalid"
The default value for ETCD is not quoted, which results in the following config.

[code]

https://github.com/deis/monitor/blob/master/telegraf/rootfs/config.toml.tpl#L213

A current solution is to specify ETCD_URLS='\"http://localhost:2379/metrics\"'

One option would be to `| quote` but that would break ETCD_URLS if multiple URLS were specified.

Current things with similar issues would be.
-   u

[2016-09-20 17:07] jchauncey commented on #141
good catch. It would be better to get that passed in already quoted

[2016-09-20 17:17] jchauncey commented on #141
For instance we do this for Prometheus urls -

[code]

[2016-09-20 17:18] sstarcher commented on #141
@jchauncey yep makes sense.  In that case only the default value is incorrect, but INFLUXDB_URLS is also inconsistent.

[2016-09-20 17:22] jchauncey commented on #141
I think we drop the `quote` call and force everyone to quote the urls before we splat them out in telegraf.

[2016-09-20 17:26] sstarcher commented on #141
That would work and be consistent.  We could also not force the quotes and split on comma, but that would require slightly more work.

[2016-09-23 18:48] jchauncey commented on #141
fixed in #142

[2016-09-23 18:48] #141 closed, assigned to jchauncey

[2016-10-02 18:42] felipejfc opened #146 "Monitor-Telegraf Pod is on CrashLoopBackOff state on Master node With K8s 1.4.0"
[code]

It used to run fine on my 1.3.5 cluster but now the pod that is scheduled on the master is in crashloopbackoff for some reason, the ones scheduled on minions are normal though.

[2016-10-02 18:43] jchauncey commented on #146
What do the pod logs say?

On Oct 2, 2016 2:42 PM, "Felipe Cavalcanti" notifications@github.com
wrote:

[2016-10-03 02:24] felipejfc commented on #146
Nothing hepful...

[code]

[2016-10-03 04:17] jchauncey commented on #146
You should have a lot more output than that. That means something is wrong with the image. I did an install last night on a `1.4.0` cluster with `2.6.0` and it everything came up fine.

[2016-10-03 05:10] jchauncey commented on #146
Did you change anything in the chart configuration? Or is this a stock install? Have you tried deleting the pods and recreating them using the daemonset file in the manifest directory of the chart?

[2016-10-03 13:50] felipejfc commented on #146
It is a stock install... I tried deleting the pod (note that not all of them are in crashloop, only the one in the master node)

it seems to be restarting like every 2 minutes

[2016-10-03 14:37] felipejfc commented on #146
just upgraded deis to 2.6, monitor-telegraf was bumped to version 2.5.1 and the problem is still happening... :/

[2016-10-03 15:34] jchauncey commented on #146
Telegraf running on the master node is a new behavior I think. I noticed too that on my 1.4 cluster it shows us in the list when you do `kubectl get nodes` not sure why they are doing that.

What os are you using?

[2016-10-03 16:10] felipejfc commented on #146
Debian with kernel 4.4

[2016-10-04 15:14] WillPlatnick commented on #146
:+1: same issue, deployed 1.4 via kops

[2016-10-04 17:10] shulcsm commented on #146
Same issue, fresh install.

[2016-10-04 17:11] jchauncey commented on #146
@shulcsm kops too? @felipejfc are you also using kops

[2016-10-04 17:16] shulcsm commented on #146
kubeadm on Ubuntu 16.04

[2016-10-04 17:21] jchauncey commented on #146
Ok there is a hunch going around that this may be related to some kubernetes 1.4 work where they made add-ons daemonsets (which is how we deploy telegraf). This is why we are seeing telegraf get scheduled onto the master node. I am working on a way to restrict that from happening.

[2016-10-04 18:13] felipejfc commented on #146
@jchauncey yes! I do use kops

[2016-10-04 20:03] jchauncey commented on #146
This is related to this issue - https://github.com/kubernetes/kubernetes/issues/29178

[2016-10-04 20:28] jchauncey commented on #146
I'm not entire sure how to solve this problem yet. Considering that 1.4 doesn't have a label to tell a daemonset to not schedule there. I'll keep thinking about other ways to solve htis. But I would still like to know why telegraf is crashlooping.

[2016-10-04 20:43] shulcsm commented on #146
I tainted the master (my cluster consists of one node) and everyhing is running now.

[2016-10-04 20:49] jchauncey commented on #146
@shulcsm what taint did you apply?

[2016-10-04 20:51] shulcsm commented on #146
kubectl taint nodes --all dedicated-

[2016-10-04 20:59] jchauncey commented on #146
@felipejfc and @WillPlatnick if you two can see if the above command fixes your issue that would be great

[2016-10-04 21:32] felipejfc commented on #146
Well, what would be the implications on tainting my master with dedicated-?

[2016-10-04 21:49] jchauncey commented on #146
Afaik it should make it so nothing runs on it

On Oct 4, 2016 5:32 PM, "Felipe Cavalcanti" notifications@github.com
wrote:

[2016-10-05 17:28] jchauncey commented on #146
@felipejfc is it possible for you to ssh into your master node and look at the kubelet configuration and see if you can find where it does the following: `--pod-cidr=`

Trying to see if we are also being affected by this problem - https://github.com/kubernetes/kops/issues/204

[2016-10-06 14:14] felipejfc commented on #146
@jchauncey

[code]

[2016-10-06 14:32] jchauncey commented on #146
`--pod-cidr=10.123.45.0/29` is not enough IPs for the number of pods we are trying to run on the master. It should probably be upped to a `/28`

[2016-10-10 13:41] WillPlatnick commented on #146
Spoke to kops maintainer @justinsb - He's going to put in a PR in kops to raise it, but he requests that Deis put in a PR for this with kube-up too so a discussion can be had there.

[2016-10-10 17:23] bacongobbler commented on #146
Just to confirm it's a v1.4.0 issue, can you try running this on kubernetes v1.3.8? From what I'm reading in kubernetes/kubernetes, kube-up with GCE uses [v1.3.8 uses /30](https://github.com/kubernetes/kubernetes/blob/v1.3.8/cluster/aws/templates/configure-vm-aws.sh#L113) and [v1.4.0 uses /29](https://github.com/kubernetes/kubernetes/blob/v1.4.0/cluster/aws/templates/configure-vm-aws.sh#L113) as t

[2016-10-12 16:04] WillPlatnick commented on #146
kops merged in a default /28 for us. Updated the cluster, verified kubelet is running with a /28 and the issue is still occuring. Nothing in the logs other than creating topic

[2016-10-12 16:08] jchauncey commented on #146
k let me think of some other things that might help us debug this problem

[2016-10-17 02:51] jchauncey opened #151 "Need the ability to turn off disk metrics in telegraf"
For some reason you cant collect disk metrics on a coreos box.

[2016-10-18 07:47] gedimin45 opened #152 "Telegraf unable to collect Kubernetes stats after cluster failure"
Hello,

I recently upgraded my K8s cluster running on GKE by just hitting the upgrade button on the node pool. Not the smartest thing to do, I know, since it took my cluster down for a few minutes.
After the cluster was back up again, the Deis pods also seemed back up and my apps were working.
Few days later I noticed that metrics do not appear in Grafana anymore. The Telegraf pod log was filled w

[2016-10-18 12:49] jchauncey commented on #152
Hrm I'll try reproducing this and see what I find

[2016-10-21 09:41] gedimin45 opened #153 "Telegraf memory leak"
Telegraf memory usage seems to grow steadily over time in my cluster:
![image](https://cloud.githubusercontent.com/assets/4046456/19593847/c6b8c7de-9782-11e6-9426-c3877f140790.png)

At first I let it grow expecting that the GC would kick in, but it never did. When consumption reached 1G, I just deleted the pods (which made the `DaemonSet` to create new ones).

When I removed `ENABLE_KUBERNETES` (s

[2016-10-21 13:28] jchauncey commented on #153
Alright I will take a look at this today/monday

[2016-10-21 15:41] sstarcher commented on #151
What issue are you seeing I collect disk stats perfectly fine with telegraf on CoreOS.

[2016-10-21 15:42] jchauncey commented on #151
This might be an issue with my cluster but I cant seem to run `df` on my cluster and telegraf bombs out too

[2016-10-21 15:50] sstarcher commented on #151
What version of CoreOS are you running?  I tend to run stable and I'm currently on `1122.2.0`  df works perfectly fine.

[2016-10-24 13:04] felixbuenemann commented on #153
I see the same issue, I setup a new cluster on CoreOS Beta / docker 1.11.2 / kube-aws / k8s 1.4.3 / workflow 2.7.0 on Firday and the controller became unresponsive today because telegraf is eating ~700 MByte/s RAM and the machine only has 2GB which is usally fine for a small cluster controller.

The logs of the telegraf pod on the controller show lots of entries like these, not sure if they are no

[2016-10-24 13:07] felixbuenemann commented on #153
@ged15 Which kubernetes version are you running?

[2016-10-24 13:11] gedimin45 commented on #153
My K8s version:

[code]

Running on GCloud.

[2016-10-24 13:16] gedimin45 commented on #153
The last entry in the logs of the Telegraf pod (no log entries afterwards):

[code]

Not sure if this is useful, but I do not get `ERROR: input [nsq] took longer to collect than collection interval (1s)` appear in my logs.

[2016-10-24 13:22] felixbuenemann commented on #153
The timeouts in my case might be related to the controller running out of memory. I had to add a swapfile to be able to talk to the k8s api again.

[2016-10-24 14:07] felixbuenemann commented on #153
I did some debugging with @jchauncey and it appears the telegraf pod is leaking tcp connection to cadvisor (port 10255). You could check on a node by running `netstat -tan | grep 10255 | wc -l`, in my case there were more than 24k open connections.

[2016-10-25 00:06] felixbuenemann commented on #152
@ged15 I think the above error might be caused by #153 and your host simply ran out of ephemeral ports, because the memory leak was caused by leaked tcp connections.

You can check the allocated port range using `cat /proc/sys/net/ipv4/ip_local_port_range` on the host. I had one host affected by #153 with ~23,000 active connection (~730 MB RSS) and another one with ~26.000 active connections (~945

[2016-10-25 00:21] felixbuenemann commented on #146
The deis monitor was already a daemon set before 1.4.x and it runs on all nodes on 1.3.x as well.

[2016-10-25 00:39] felixbuenemann commented on #151
@sstarcher @jchauncey is probably talking about these errors:

[code]

My fix on CoreOS stable for that was to make sure that binfmt_misc was mounted before docker via a docker.service systemd drop-in:

[code]

My git commit message for that change said:

Unfortunately that doesn't seem to be working on CoreOS beta (1185.2.0) anymore, which my k8s 1.4.x clusters are based on, as the logs above sho

[2016-10-25 00:59] felipejfc commented on #146
Yes but on 1.3.0 it was not being stuck in crash loop restart

[2016-10-25 01:46] sstarcher commented on #151
@felixbuenemann we also run the same thing, but we are on stable which is still working.

[2016-10-25 01:47] felixbuenemann commented on #146
It is working for me on 1.4.3/1.4.4 on CoreOS beta with a podCIDR of 10.2.0.0/16 and 1.3.8/1.3.9 with same podCIDR on CoreOS stable.

If the container crashes and the only log message is "Creating topic with URL …" then the curl request must fail. So my guess would be a connectivity issue to nsqd. A modified deis-monitor-telegraf image which uses "curl -v -s" should be helpful to see what's going

[2016-10-25 13:54] felixbuenemann commented on #153
@jchauncey There's currently no milestone assigned. Will the fix be included in Workflow v2.8.0?

[2016-10-25 14:01] jchauncey commented on #153
yeah we are holding the release until we get this fixed

[2016-10-25 18:18] jchauncey commented on #153
I think he's getting that error because nsq is slow to respond due to the
memory pressure

On Oct 24, 2016 9:16 AM, "Gediminas Šedbaras" notifications@github.com
wrote:

[2016-10-26 16:24] felixbuenemann commented on #146
I've done some debugging with @WillPlatnick and it seems connectivity from pods on the controller to the service network is not working, while is works on the workers. This seems to be specific to [kops](https://github.com/kubernetes/kops).

[2016-10-26 16:25] jchauncey commented on #146
Is there anyway to get enough debug information we can open an issue with kops?

[2016-10-26 16:46] felixbuenemann commented on #146
I think @WillPlatnick is already working on opening an issue with kops.

[2016-10-26 18:45] WillPlatnick commented on #146
The base issue is a kubernetes one apparently. They tried to fix it yesterday, but it didn't go too well and had to be reverted.

https://github.com/kubernetes/kubernetes/pull/35526 is the active PR to fix this. Hopefully will be in 1.5.

[2016-10-26 19:44] justinsb commented on #146
I think the problem is specific to configurations where the master is registered as a node, when running kubenet.  Hopefully we'll get it fixed upstream.

[2016-10-27 10:08] gedimin45 commented on #153
Just updated to 2.8 and the problem seems gone. Thanks people!
Although now the graph looks weird as it only displays data for the last 3 minutes:
![image](https://cloud.githubusercontent.com/assets/4046456/19763383/14d9ef3c-9c3e-11e6-8fa5-14c412b1a642.png)
Is this expected?

[2016-10-27 13:08] jchauncey commented on #153
Yeah the graph resolution is my fault. You can change it in the top right corner. Ill fix it for next release.

[2016-10-27 13:39] gedimin45 commented on #153
Thanks @jchauncey and @felixbuenemann!

[2016-10-27 13:39] #153 closed, assigned to jchauncey

[2016-10-29 20:43] felipejfc opened #159 "Deis Telegraf uses way too many Resources"
This is the usage of telegraf pods in my k8s cluster, I use AWS m4.xlarge instances as nodes

![image](https://cloud.githubusercontent.com/assets/285782/19832621/29b71b30-9e07-11e6-912f-c8f7216c090c.png)

![image](https://cloud.githubusercontent.com/assets/285782/19832623/371ba246-9e07-11e6-8b8e-27a909bc507a.png)

We have about 25 apps in Deis and about 42.000 RPM on it.

Is it normal that telegra

[2016-10-29 20:45] jchauncey commented on #159
What version of workflow are you using? We fixed a memory leak this last
release.

On Oct 29, 2016 4:43 PM, "Felipe Cavalcanti" notifications@github.com
wrote:

[2016-10-31 15:41] bacongobbler commented on #70
ping

[2016-10-31 15:43] jchauncey commented on #70
I think this issue should be closed. We state clearly that you should host influx off cluster just like postgres so streaming the transaction logs is really an overhead that doesn't make much sense.

[2016-10-31 15:43] #70 closed, assigned to nobody

[2016-10-31 15:44] bacongobbler commented on #138
let's keep this conversation going in #44 so we have one ticket to discuss integrating with kapacitor.

[2016-10-31 15:44] #138 closed, assigned to nobody

[2016-10-31 15:47] bacongobbler commented on #151
Is there anything we can do on our end to fix this or shall we close this as a known issue with certain CoreOS releases?

[2016-10-31 15:48] jchauncey commented on #151
The problem @felixbuenemann talked about was different than the issue I was seeing. I fixed my problem by just asking for metrics on `/`.

[2016-10-31 15:48] #151 closed, assigned to nobody

[2016-10-31 15:50] bacongobbler commented on #159
ping @felipejfc, can you try upgrading to v2.8.0?

[2016-10-31 15:51] bacongobbler commented on #152
@ged15 can you try upgrading to v2.8.0 and see if your issue is resolved on the latest release?

[2016-11-07 18:53] gedimin45 commented on #152
The problem occurred after I accidentally killed my whole cluster by upgrading it to the newest K8s version. Might have been a problem with Telegraf leaking connections. Anyways, with Workflow 2.8 it seems to be fixed, so closing this issue :)
Thanks for the help people!

[2016-11-07 18:53] #152 closed, assigned to nobody

[2016-11-10 17:52] jchauncey opened #162 "Use build args to capture build time data"
Acceptance Criteria:
* Use the `--build-args` flag when running `docker build` to pass in the following items (and more if needed)
* BUILD_DATE
* VERSION

You will need to do the following in the dockerfile to persist the data into the image:

[code]

[2016-12-02 16:05] rimusz opened #163 "deis-monitor-telegraf shows - error getting disk usage info: too many levels of symbolic links"
`deis-monitor-telegraf-rz92o deis-monitor-telegraf 2016/12/02 16:03:30 E! ERROR in input [inputs.disk]: error getting disk usage info: too many levels of symbolic links`

[2016-12-02 16:32] bacongobbler commented on #163
Can you please provide some basic information on how you are seeing this:

 - What version of workflow?
 - What version of Kubernetes?
 - How is it deployed?
 - Is there a set of instructions to re-create this issue?
 - Have you gone through the [troubleshooting guide](https://deis.com/docs/workflow/troubleshooting/kubectl/)?

[2016-12-02 16:38] rimusz commented on #163
- latest Workflow v2.8.0 deployed with Helm chart
- k8s v1.4.6
- deployed on AWS, CoreOS, similar to [tack](https://github.com/kz8s/tack) setup  @gerred can explain more on the setup
- no, there are no set of instructions to re-create this issue
- yes, only error I got is `deis-monitor-telegraf-rz92o deis-monitor-telegraf 2016/12/02 16:03:30 E! ERROR in input [inputs.disk]: error getting disk usag

[2016-12-13 09:23] zinuzoid opened #165 "[telegraf] Error parsing response: parsing time "null""
Metric in Grafana seems doesn't work, so I check telegraf and there're some error logs from pods.

I'm running cluster in GKE k8s version 1.4.6
Images: quay.io/deis/telegraf:v2.7.0
[code]

Is there a way to dig it deeper. I did try to add AGENT_DEBUG:true, AGENT_QUITE:false but doesn't help much from log.

[2016-12-14 11:44] wetoolaguer commented on #163
Hi, I experienced the same issue.

* Workflow versions v2.9.0, v2.5.0 with helm and helmc
* deployed on AWS, debian / ubuntu via kops
* I get `2016/12/14 11:43:10 ERROR in input [disk]: error getting disk usage info: too many levels of symbolic links` and one of my telegrafs intermittently fails with this log
[code]

[2016-12-15 09:21] gedimin45 opened #166 "fluentd pod hogging memory after spike in traffic"
I deployed and app that output logs in a rapid pace (10s of message per second) and the fluentd pod memory consumption increased. Makes sense, but after I killed the app that was spamming logs, the memory consumption stays high. Seems like some messages just stay in memory.
I have also encountered this in the logs:

[code]

[2017-01-04 00:02] bacongobbler commented on #163
relevant: https://github.com/influxdata/telegraf/issues/1352

[2017-01-04 06:40] jgmize commented on #92
see https://github.com/kubernetes/charts/tree/master/stable/grafana for implementation.

[2017-01-04 06:41] jgmize commented on #93
See https://github.com/kubernetes/charts/tree/master/stable/influxdb

[2017-01-07 18:23] dnascimento commented on #60
Is it that slow for a large number of pods/containers? It takes you telegraf->elasticsearch->query to get the number of 5xx requests...

[2017-01-10 19:27] bacongobbler commented on #166
So the `undefined method '[]' for nil:NilClass` error from fluentd is a well-known unidentified upstream bug: https://github.com/fluent/fluentd/issues/1248

As for the memory consumption increase, given that fluentd and nsq needs to process all messages I'd imagine that'd stay under high memory consumption until the messages have been processed. Your throughput is simply slower than your input. Is

[2017-01-10 22:11] gedimin45 commented on #166
The memory consumption did not go down one bit even after a day after the spike.
I think that when the `undefined method` error occurs, the object is not removed from memory but that is just a guess.
Would it be possible to predict a memory limit for the fluentd pod? Perhaps set a sane default in the chart?

[2017-01-10 22:48] bacongobbler commented on #166
it is [commented out by default](https://github.com/deis/monitor/blob/master/charts/monitor/values.yaml#L5-L6) for clusters that want to run the monitoring stack with unlimited resources, but it is there. "sane defaults" differ from cluster to cluster, so there's no silver bullet.

[2017-01-10 23:00] gedimin45 commented on #166
Got it.
Pretty sure this is a bug in fluentd but I do not feel like debugging Ruby code that might have a bug under high load 😄
Thanks for the suggestions!

[2017-01-10 23:00] #166 closed, assigned to bacongobbler

[2017-01-11 21:16] bacongobbler commented on #146
kubernetes/kubernetes#35526 has since been merged and is available upstream in k8s v1.5.0+. Closing.

[2017-01-11 21:16] #146 closed, assigned to jchauncey

[2017-01-11 21:17] bacongobbler commented on #159
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-01-11 21:17] #159 closed, assigned to nobody

[2017-01-11 21:19] bacongobbler commented on #163
This does appear to be an issue upstream with systemd, perhaps with https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1555760.

[2017-01-11 21:40] vdice commented on #165
Hmmm, I'm not able to reproduce this issue w/ same telegraf image (also GKE, k8s server 1.4.7)

@jchauncey any suggestions on how to debug?

[2017-01-11 21:45] jchauncey commented on #165
Nope. I've seen this before but I'm not sure what the cause was. Is it
still happening?

On Jan 11, 2017 4:40 PM, "Vaughn Dice" <notifications@github.com> wrote:

[2017-01-12 11:01] zinuzoid commented on #165
@jchauncey yes, it's still happen.

[code]

[2017-01-15 17:56] sheerun opened #171 "Disable sign up for grafana by default"
Hey,

I've deployed deis to production and to my surprise, grafana allows for anyone to sign-up by default.. Is there any reason to do so? I'd suggest disabling it and allowing to enable by setting ALLOW_SIGN_UP="true"

Thanks!

[2017-01-15 17:58] sheerun opened #172 "Make influx ui and api unroutable by default"
I've deployed deis to production and to my surprise influx ui and api is exposed publicly by default.. I'd suggest to make it unroutable by default, and allowing to make it routable by setting `router.deis.io/routable: "true"`.

[Secure by default](https://en.wikipedia.org/wiki/Secure_by_default), deis! :)

[2017-01-15 19:19] jchauncey commented on #172
The default configuration of influx and grafana is not meant for production (much like the rest of the workflow install is not targeted for production environments). I would recommend that if you are wanting to monitor a production install of workflow to use an off cluster grafana and influx setup and have the telegraf instances push data to it instead. This will be a more robust setup than what i

[2017-01-16 20:52] bacongobbler commented on #172
For reference, the second request is already available as the annotation: https://github.com/deis/monitor/blob/master/charts/monitor/charts/grafana/templates/monitor-grafana-svc.yaml#L9

However we want to keep grafana routable by default, and we couldn't change that now for backwards compatibility reasons. Is there a concern about the instance being publicly available? It is authed by default, an

[2017-01-16 21:52] sheerun commented on #172
Grafana is fine to be routable by default as long as it's authenticated as doesn't allow sign-ups

Even influx and grafana isn't yet recommended to run in production, I think making them secure by default would be a nice small step to make them so.

[2017-01-16 21:53] bacongobbler commented on #172
k so let's close this in favour of #171 and get that fixed up.

[2017-01-16 21:53] #172 closed, assigned to nobody

[2017-01-16 21:58] bacongobbler commented on #171
This has already been exposed as ALLOW_SIGN_UP since the project's inception: https://github.com/deis/monitor/blob/master/grafana/rootfs/usr/share/grafana/grafana.ini.tpl#L150

You can set [ALLOW_SIGN_UP to false on the pod](https://deis.com/docs/workflow/managing-workflow/tuning-component-settings/) and it will take effect. Again, since this has already been set in stone we cannot break this due

[2017-01-17 03:24] bacongobbler commented on #58
@jchauncey can you write out a SOW so we can close this when all of the tasks have been completed?

[2017-01-17 06:54] #171 closed, assigned to nobody

[2017-01-17 10:07] sheerun commented on #171
@bacongobbler I explicitly wrote about this setting in description.. This issue is about making this `ALLOW_SIGN_UP=false` by default. Could you reopen?

[2017-01-17 15:05] bacongobbler commented on #171
We cannot change settings in the v2 timeline. Similar to registration mode being open by default in the controller, this must stay as-is. We can make a note of it in the production settings docs though.

[2017-01-30 22:05] mboersma commented on #163
There are some workarounds suggested in influxdata/telegraf#1352 that users can try. A pervasive fix requires Ubuntu to make changes to `systemd` or `binfmt`, which is something many people are still waiting for sadly.

I'm going to move this to the next milestone since there's nothing currently actionable for Workflow here IMHO.

[2017-02-06 15:00] stuszynski commented on #165
@zinuzoid I encounter a similar issue. Telegraf is using `url = "http://10.240.0.19:10255"` for connecting to kubelet, but your kubelet is most likely listen on HTTPS only.

[2017-02-07 12:38] stuszynski commented on #165
Sorry, my bad.  The `http://<node-ip>:10255` refer to the  unsecured read-only port available on each kubelet.

[code]

I check it manually and I'm sure it provide data on this URL from a telegraf container. We still, however, experience above issue.

[2017-02-07 22:00] vdice commented on #93
On-cluster storage option (via pv,pvc) implemented in https://github.com/deis/monitor/pull/169

[2017-02-07 22:00] #93 closed, assigned to nobody

[2017-02-07 22:00] vdice commented on #92
On-cluster storage option (via pv,pvc) implemented in https://github.com/deis/monitor/pull/169

[2017-02-07 22:00] #92 closed, assigned to nobody

[2017-02-07 23:52] lachie83 opened #176 "(feat/monitor): Make ALLOW_SIGN_UP configurable via the chart"
This is to toggle the signup page on the grafana login screen

https://github.com/deis/monitor/blob/master/grafana/rootfs/usr/share/grafana/grafana.ini.tpl#L150

[2017-02-07 23:53] lachie83 commented on #176
I will work on a PR for this

[2017-02-15 22:54] mboersma opened #178 "Use upstream telegraf chart"
If possible, we should use https://github.com/kubernetes/charts/tree/master/stable/telegraf instead of the local chart here.

[2017-02-15 22:56] mboersma opened #179 "Use upstream fluentd chart"
Which might mean contributing to https://github.com/kubernetes/charts/pull/211 to help it meet Workflow's needs, if possible.

[2017-03-02 17:51] jchauncey opened #180 "Use stable/influxdb chart"
The team over at influxdata has built a pretty extensible chart for influxdb and its in the stable repo. We should move to using this one instead of our custom chart.

Acceptance Criteria:
* [x] Remove current influx chart from `deis/monitor` repo
* [x] Add `stable/influxdb` chart to the `requirements.yaml` in `deis/workflow` pinned to `0.2.1`
* [ ] Validate chart is fetched when performing `helm

[2017-03-02 19:18] jchauncey commented on #180
For `off cluster` storage we can do the following:

[code]

The condition there is checked before installing the chart. The default in `values.yaml` is set to true but when people wnat `off cluster` influx support they just set it to false.

[2017-03-05 04:45] monaka commented on #163
@vdice Was this issue fixed on v2.12 ? Or re-tagged on v2.13 or later?

[2017-03-05 07:30] bacongobbler commented on #163
This issue was never resolved; see above

[2017-03-06 02:18] monaka commented on #163
Ah, I see.

[2017-03-06 15:14] jchauncey commented on #180
@mboersma @slack

So I have run into 2 small problems we should address:

1) The `pvc` name is different in our current chart than what will be used in the upstream influx chart. This means that we would make a new volume claim and our users could potentially lose data with using this new chart.

1) The location of the database itself is different between our images. This means that even if we mou

[2017-03-08 17:59] slack commented on #180
It may be worth exploring writing a small tool/script that could be delivered as manual upgrade steps or a pre-upgrade hook in the charts. This script could orchestrate the upgrade, which could look roughly like:
* Create new PVC which matches influxdb upstream
* Remove influxdb deployment
* Launch a data migration pod that refs both PVCs and copies data
* Removes old PVC (or leaves it for manual

[2017-03-08 18:42] jchauncey commented on #180
Im not entirely sure I like that idea because it definitely injects something in to the upgrade process that makes it feel really strange. It's not like what happened when we went from `helmc -> helm`.

[2017-03-08 20:32] slack commented on #180
Long-term, we want to be able to lean on upstream components. That should reduce our maintenance burden. Otherwise, we'll continue to maintain a fork of just one component in the stack. To get there with the best user experience (no data loss) it seems worthwhile to tackle the data migration problem once.

Could you expand on "feels really strange", what aspects are specifically strange:
* adding

[2017-03-10 20:06] #137 closed, assigned to nobody

[2017-03-14 19:29] mboersma opened #183 "Update documentation for PVC changes"
Need to re-evaluate the documentation in light of #181, specifically https://deis.com/docs/workflow/managing-workflow/platform-monitoring/#pvc-dynamic-provisioning

[2017-03-14 19:29] jchauncey commented on #183
related to #180

[2017-03-28 18:17] vdice opened #188 "Can't upgrade w/ grafana.persistence.enabled=true"
On GKE, upgrading with grafana persistence enabled leads to a `Failed to attach volume` error:
[code]

[2017-04-06 14:35] pfeodrippe opened #189 "How to show Heapster metrics at Grafana?"
There is a way to configure heapster, InfluxDB and Grafana in a Kubernetes cluster show [here](https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb). How could I achieve this from the standalone heapster deploy using the already present InfluxDB and Grafana pods?

[2017-04-06 14:38] jchauncey commented on #189
Not sure I fully understand. You already have a workflow install with influx and grafana and you want to send heapster metrics to that influx instance?

[2017-04-06 15:32] pfeodrippe commented on #189
Yes, exactly. I've saw one of the posts at the deis blog talking about these three together, maybe setting the sink property at the heapster yaml config?

[2017-04-06 15:33] jchauncey commented on #189
Yeah you could set the sink config for heapster and it would send those metrics to the influxdb instance installed by workflow.

[2017-04-07 16:12] pfeodrippe commented on #189
@jchauncey Thanks!

[2017-04-07 16:58] bacongobbler commented on #189
closing the question as answered, please feel free to re-open otherwise.

[2017-04-07 16:58] #189 closed, assigned to nobody

[2017-04-15 07:54] jordan-thoms commented on #171
This is very confusing for new deis users - the Production Deployments page ( https://deis.com/docs/workflow/managing-workflow/production-deployments/ ) links to 'Customizing Monitor' ( https://deis.com/docs/workflow/managing-workflow/tuning-component-settings/#customizing-the-monitor ) for more information on disabling signups, but in the linked section it just says 'The monitor component uses Te

[2017-04-16 14:41] jchauncey commented on #171
@jordan-thoms ive got a PR coming that updates the documentation for monitoring so I will make sure we update this section to describe how to turn off sign ups within grafana. I will also try and PR a change to make it easier to configure from the chart.

[2017-04-19 13:18] kenden commented on #179
Related https://github.com/fluent/fluentd-kubernetes-daemonset/issues/8

[2017-04-27 14:49] pfeodrippe opened #191 "InfluxDB persistence after helm install"
Could I enable InfluxDB persistence after ```helm install deis/workflow```?
I read the docs, but what would happen?

[2017-04-27 14:52] jchauncey commented on #191
Yes you can do that. It would create a persistent volume and bind it to the influx pod. All data currently stored in the pod would be lost though since influx would need to restart to bind the volume.

[2017-04-27 14:58] jchauncey commented on #191
I think you should be able to do something like `helm upgrade <release name> <chart path> --set influxdb.persistence=true`

[2017-04-27 19:53] pfeodrippe commented on #191
I've did what you said, but it's taking a long time to terminate the old pods and Grafana is not showing anything. Maybe it should be better to delete the release and reinstall it? The influxapi IP should be the same, right? It's a Service, it should discover its pods
[code]

[2017-04-27 20:04] jchauncey commented on #191
If you are ok deleting the release and reinstalling then yeah I would try that. Ive recently been working on the charts and I have done several no persistence to persistence upgrades and didnt notice that issue. But that was on a branch of some stuff I was testing so it may not work that way in master.

[2017-05-08 17:58] kukikiloke commented on #188
Hi, I also run into the similar error when using persistence volume for grafana.

One of my pods is stuck at pending state due to error `pod (deis-monitor-grafana-465911159-nkhmp) failed to fit in any node fit failure summary on nodes : NoVolumeZoneConflict (2), PodToleratesNodeTaints (1)`. The followings are the zones my AWS resources running on:

[code]
It seems to be related to which zones the

[2017-05-08 20:51] kukikiloke opened #196 "AZ of grafana persistent volume pvc should be based on the nodes' AZ"
Cloud provider: AWS

When using persistent volume for grafana, one of my pods is stuck at pending state due to error `pod (deis-monitor-grafana-465911159-nkhmp) failed to fit in any node fit failure summary on nodes : NoVolumeZoneConflict (2), PodToleratesNodeTaints (1)`. The followings are the AZs my AWS resources running on:
[code]

I tried to manually attach the PVC volume on AWS console and it

[2017-05-08 20:55] kukikiloke commented on #196
may be related to https://github.com/deis/monitor/issues/188

[2017-05-08 21:00] jchauncey commented on #196
When you install the monitor chart kubernetes is what requests the resources from AWS. The scheduler should bind the volume to the node that is requesting the PVC. If you do a `kubectl describe` on the persistent volume claim and the pod you should see which node it binds to.

[2017-05-08 21:14] kukikiloke commented on #196
I may have missed it but I don't really see which node the pvc and pod bind to.

[code]

[code]

[2017-05-08 21:17] jchauncey commented on #196
Do a describe on the persistent volume itself

[2017-05-08 21:23] kukikiloke commented on #196
here is what I got from describing the persistent volume

[code]

[2017-05-08 21:24] jchauncey commented on #196
So this makes me wonder if the scheduler thinks your master node is schedulable so it binds the PV to that node and then attemps to bind the pod there.

[2017-05-08 21:34] kukikiloke commented on #196
I did a describe on my master node and I guess you may be right that the master node is schedulable. I launched my kube cluster with kops and haven't explicitly set the master node to be schedulable.

[code]

[2017-05-08 21:43] jchauncey commented on #196
I started noticing this with clusters provisioned around ~1.4 but I could never really figure out why. I think you need to taint that node so that nothing gets scheduled on it. https://medium.com/@alejandro.ramirez.ch/reserving-a-kubernetes-node-for-specific-nodes-e75dc8297076

[2017-05-18 18:18] pfeodrippe opened #198 "Grafana and InfluxDB with ingress experimental support"
Why it's not created a Ingress resource to the grafana and influxdb deployments?
Following https://deis.com/docs/workflow/installing-workflow/experimental-native-ingress/, I'm only able to route correctly to deis.* and deis-builder.*

[2017-05-22 15:22] michalkm commented on #163
Any updates or workarounds on this matter ?

[2017-05-23 18:17] jchauncey commented on #163
See earlier in the thread. As it stands this is not a fix that we can make on the workflow end it has to be fixed in an upstream project.

[2017-05-24 20:13] jchauncey commented on #183
closed via - https://github.com/deis/workflow/pull/794

[2017-05-24 20:13] #183 closed, assigned to jchauncey

[2017-10-13 06:33] kenden commented on #179
@mboersma  There is now a chart at:
https://github.com/kubernetes/charts/tree/master/incubator/fluentd-cloudwatch

[2017-10-13 06:49] bacongobbler commented on #179
Thanks for the heads up! We EOL’d Deis Workflow in September so we won’t get to doing this, but we are keeping this issue open for historical purposes. See https://deis.com/blog/2017/deis-workflow-final-release/

[2018-03-20 19:23] Cryptophobia commented on #198
This issue was moved to teamhephy/monitor#3

[2018-03-20 19:23] Cryptophobia commented on #196
This issue was moved to teamhephy/monitor#4

[2018-03-20 19:24] Cryptophobia commented on #188
This issue was moved to teamhephy/monitor#5

[2018-03-20 19:25] Cryptophobia commented on #179
This issue was moved to teamhephy/monitor#6

[2018-03-20 19:25] Cryptophobia commented on #178
This issue was moved to teamhephy/monitor#7

[2018-03-20 19:26] Cryptophobia commented on #176
This issue was moved to teamhephy/monitor#8

[2018-03-20 19:26] Cryptophobia commented on #165
This issue was moved to teamhephy/monitor#9

[2018-03-20 19:27] Cryptophobia commented on #162
This issue was moved to teamhephy/monitor#10

[2018-03-20 19:27] Cryptophobia commented on #136
This issue was moved to teamhephy/monitor#11

[2018-09-20 11:20] szibis commented on #60
If anyone looking for module to VTS there is PR in Telegraf for that waiting for merge https://github.com/influxdata/telegraf/pull/3782